.event-form {
  font-family: 'Open sans', sans-serif;
  min-width: 300px;
  width: max-content;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #e0f2f1;
  border-radius: 4px;

  .event-form-title {
    margin: 0;
    padding: 1rem;
  }

  .button-container {
    margin: 0.5rem 1rem;
    display: grid;

    button {
      font-size: 1rem;
      padding: 0.5rem;
      border: none;
      background-color: #80cbc4;
      cursor: pointer;
      &:hover:not(:disabled) {
        background-color: #4f9b94;
      }
      &:disabled {
        cursor: default;
      }
    }
  }

  p {
    margin: 1rem 1rem 0 1rem;
  }
}
