.text-input {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;

  .input {
    height: 1.5rem;
    padding: 1px 4px;
    border: none;
    border-radius: 0;
  }

  .error {
    height: 0.5rem;
    margin-bottom: -0.5rem;
    font-size: 0.825rem;
    font-weight: 300;
    color: #f44336;
  }
}
